

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
        There are two types of scope used in xml 1.singelton 2. prototype
        if we add singelton then, how many times u called the getbean("bobby") with different obj,  it refered to only one reference 
        if we add prototype then, how many times u called the getbean("bobby") with different obj,  that many times it creates a different reference
 -->
        <bean id="bobby" class="com.maven.Bobby" autowire="byType">
        <!-- if u want to set any property we need to use property tag-->

        <!-- value is for primitive values-->
          <!-- ref  is for obj or refered values, we can do it the approach by using constructor approach-->
            <!-- <property name="age" value="21"></property> -->   
        
        <!--  constructor approach for setting values ; mostly we can use index aproach-->
         <!-- <constructor-arg type="com.maven.Laptop" ref="lap1"/>   
         <constructor-arg type="int" value="21"/> -->
                  <!-- OR -->
         <!-- <constructor-arg index="1" ref="lap1"/>   
         <constructor-arg index="0" value="21"/>  -->
                      <!-- OR -->
       
         <!-- <constructor-arg name="lap" ref="lap1"/>    
         <constructor-arg name="age" value="21"/> -->

         <!-- here ref="lap1" is id of bean i.e, bean id="lap1"-->
         <!-- <property name="com" ref="lap1"></property> -->
         <property name="age" value="21"></property>
         <property name="com" >
              <bean id="com1" class="com.maven.Laptop" primary="true" >  </bean>
         </property>
        </bean>

       
         <bean id="com2" class="com.maven.Desktop" lazy-init="true" >  </bean>
</beans>